@using Kimtak.Client.Presenter


@page "/counter"
@inject CounterPresenter Presenter

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @Presenter.CurrentCount</p>

<button class="btn btn-primary" @onclick="Presenter.IncrementCount">Click me</button>